* {padding:0;margin:0;}

html {width:100%;height:100%;}
body {font-family:Arial, Helvetica, Sans-serif;font-size:14px;line-height:1.5;font-weight:400;color:#434343;background:#FFF;}

.container {width:90%;max-width:1050px;margin:0 auto;}

header {margin:25px 0;}
header img {width:100%;}

aside {float:left;margin:0 0 25px;}
aside nav ul {list-style:none;}
aside nav ul li {margin-bottom:4px;}
aside nav ul li a {display:block;text-decoration:none;color:#000;background:#0000FF;padding:8px 20px;}
aside nav ul li a:hover{background:#212121;color:#FFF;}

#main {float:right;margin:0 0 25px;}

footer {clear:both;color:#FFF;background:#121212;padding:15px 0 15px 30px;margin:0 0 25px;}

@media (min-width: 800px) {
	aside {width:30%;}
	#main {width:65%;}
}
@media (max-width: 800px) {
	aside,
	#main {width:100%;}
}
